  <div id="main_chat_header">
    <p id="header_title"><%= @room.name %></p>
    <a href="#" id="end_btn">チャットを終了する</a>
  </div>

  <%# メインチャット content ----------------------------------------------- %>
  <div id="main_chat_content">    
    <%= render partial: 'message', collection: @messages %>
  </div>
  <%# メインチャット message form ----------------------------------------------- %>
  <div id="main_chat_message">
      <%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
        <div class="form-input">
          <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
          <label class="form-image">
            <span class="image-file">画像</span>
            <%= f.file_field :image, class: 'hidden' %>
          </label>
        </div>
        <%= f.submit '送信', class: 'form-submit' %>
      <% end %>
  </div>
